header {
  text-align: center;
  background: rgba(0,0,0,0.0);
  background-size: cover;
  width: 100%;
  transition: all 0.4s ease-in-out
  -webkit-transition: all 0.4s ease-in-out
  -moz-transition: all 0.4s ease-in-out ;
  z-index: 9999;
  top: 0;
  position: fixed;
}

a {
  color: grey;
}

 h1 {
  font-size: 70px;
  color: white;
  margin: 0;
  font-family: Arial Rounded MT Bold;
  text-shadow: -1px -1px 0 #000;
}

./h2 {
  font-size: 40px;
  color: white;
  margin: 0;
  font-family: Arial Rounded MT Bold;
  margin-top: 150px;
  margin-bottom: 20px;
}

./h3 {
  font-size: 40px;
  color: white;
  margin: 0;
  font-family: Arial Rounded MT Bold;
  margin-top: -100px;
}

ul {
  padding: 10px;
  background: rgba(0,0,0,0.0);
  font-family: Arial Rounded MT Bold;
  font-size: 20px;
  color: white;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

.nav li a{
  color: white;
  text-decoration: none;
}

body {
  background-image: url("https://media.dayoutwiththekids.co.uk/media/15547/33456-stoke-park-guildford-01.jpg?anchor=center&mode=crop&quality=75&width=1680&height=940");
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 100%;
}

div {
  height: 600px;
  width: 1550px;
  line-height: 1200px;
  text-align: center;
 }
